.row
  .col-sm-12
    %h1 Contact Us
    %hr

.row
  .col-sm-12
    .well
      = simple_form_for @message, wrapper: :form_horizontal do |f|
        = f.input :name
        = f.input :email
        = f.input :message, input_html: {rows: 8}
        .row
          .col-sm-offset-2.col-sm-10
            = f.submit 'Send', class: 'btn btn-primary'