.row
  .col-sm-12
    %h1= @content.title
    %hr

.row
  .col-sm-12
    .well
      .row
        .col-sm-3
          %p= raw @content.content
        .col-sm-9
          = simple_form_for @message, wrapper: :form_horizontal do |f|
            = f.input :name
            = f.input :email
            = f.input :message, input_html: {rows: 8}
            .row
              .col-sm-offset-2.col-sm-7
                = f.submit 'Send', disable_with: 'Sending', class: 'btn btn-primary'