.row
  .col-sm-12
    %h1 Sign In
    %hr
.row
  .col-sm-8
    .well
      = simple_form_for resource, as: resource_name, url: session_path(resource_name), wrapper: :form_horizontal do |f|
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: false
        .row
          .col-sm-offset-2.col-sm-10.form-group
            = link_to "Forgot Password?", new_user_password_path
        .row
          .col-sm-offset-2.col-sm-10
            = f.submit "Sign in", class: 'btn btn-primary'

  .col-sm-4
    .well.text-center
      %h2 Sign Up
      = link_to "Create New Account", new_user_registration_path, class: 'btn btn-primary'