.row
  .col-sm-12
    %h1 Checkout
    %hr

.row
  .col-sm-6
    .well
      %h2 Existing User Sign In
      = simple_form_for(:user, url: session_path(:user)) do |f|
        = f.label :email
        = f.text_field :email, required: true, autofocus: true
        = f.input :password, required: false
        = f.submit "Sign in", class: 'btn btn-primary'

  .col-sm-6
    .well
      %h2 Guest User Checkout
      = link_to "Checkout As Guest", next_wizard_path, class: 'btn btn-primary'

.row
  .col-sm-12
    .well
      %h2 New Customer Sign Up
