.row
  .col-sm-12
    %h1 Billing Information
    = render 'checkout_wizard/breadcrumbs'

.row
  .col-sm-12
    .well
      = simple_form_for @order, url: checkout_wizard_path(:billing_information), method: :post do |f|
        = f.simple_fields_for :billing_address do |shipping|
          = shipping.input :first_name
          = shipping.input :last_name
          = shipping.input :address
          = shipping.input :address2
          = shipping.input :city
          = shipping.input :state
          = shipping.input :zip
          = shipping.input :phone
        = f.submit 'Next: Payment Information', class: 'btn btn-primary'