!!!
%html
  %head
    %title PrettyAsAPicture
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-sm-12
          = render 'layouts/navigation'
      .row
        .col-sm-12
          = render 'layouts/alerts'
      .row
        .col-sm-12
          = yield

      .row
        .col-sm-12
          = render 'layouts/footer'